@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image: url("/img/back.jpg");
  background-size: cover;
  font-family: "Oswald", sans-serif;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 500px;
  padding: 30px 50px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
}

h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 40px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.settings {
  width: 180px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.mode {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 155px;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 0;
  margin: 0 5px 5px 0;
  background-color: rgba(255, 255, 255, 0.45);
  border: 1px solid transparent;
  outline: none;
  border-radius: 2em;
  width: 100px;
}

button:hover {
  cursor: pointer;
}

.board {
  width: 80%;
  height: 90%;
  display: grid;
  background-color: white;
}

.board:hover {
  cursor: pointer;
}
