.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode {
  margin-bottom: 5px;
}

.board {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: white;
  border: 1px solid #000;
}

.board:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 5px 20px;
  margin: 0 5px 5px 0;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 5px 20px;
  width: 300px;
}

.error {
  display: none;
}
